[Unit]
Description=Runs the workhours_automailer service every friday at 1800

[Timer]
OnCalendar=Fri 18:00:00
Persistent=true

[Install]
WantedBy=timers.target
